.env
.vscode
.micropico
.venv/
.stubs/
.micropython-stubs
# Ignore build outputs
.idea/
release/
*.tar.zlib
*.json

# Python
__pycache__/
*.pyc
*.code-workspace
build/
version.txt
certs/
/certs/
hardware-baseline.json
